# AstraDB Configuration
ASTRA_DB_SECURE_BUNDLE_PATH=./secure-connect-hotel-management-demo.zip
ASTRA_DB_TOKEN=AstraCS:xxxxxxx
ASTRA_DB_KEYSPACE=hotel_ks

# App Configuration
FLASK_DEBUG=true
USE_MOCK=true
